interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/card_holds?is_void=False&limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"card_holds\": [],\n  \"meta\": {\n    \"last\":
        \"/card_holds?is_void=False&limit=25&offset=0\",\n    \"next\": null,\n    \"href\":
        \"/card_holds?is_void=False&limit=25&offset=0\",\n    \"limit\": 25,\n    \"offset\":
        0,\n    \"previous\": null,\n    \"total\": 0,\n    \"first\": \"/card_holds?is_void=False&limit=25&offset=0\"\n
        \ },\n  \"links\": {}\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/card_holds?is_void=False&limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"card_holds\": [],\n  \"meta\": {\n    \"last\":
        \"/card_holds?is_void=False&limit=25&offset=0\",\n    \"next\": null,\n    \"href\":
        \"/card_holds?is_void=False&limit=25&offset=0\",\n    \"limit\": 25,\n    \"offset\":
        0,\n    \"previous\": null,\n    \"total\": 0,\n    \"first\": \"/card_holds?is_void=False&limit=25&offset=0\"\n
        \ },\n  \"links\": {}\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
